
<!-- <ul *ngFor="let film of listFilms" [style.color]="film.duree==2 ? 'blue' : 'red'"[style.font-size.px]="film.duree==2 ? '24':''"> -->
  <ul *ngFor="let film of listFilms" [ngStyle]="film.duree == 2 ? style1 : style2 " >
 
  <div [hidden]="film.duree > 5">
  <li>{{film.nom}}</li> 
  <li>{{film.duree}}</li> 
  <li>{{film.categorie}}</li>
</div>
</ul>
<div [hidden] = 'isShow'>le nombre de films de catégorie action est : {{nbAction}} sur au total {{sum}} films</div>
     
<button [disabled] = '!isShow' (click)="onClick()">Calculer</button>
<form (ngsubmit)="addFilm()">
  <table>
<tr>
  <td>Nom</td>
  <td><input type ='text' name = "nom" [(ngModel)]=filme.nom></td>
</tr>
<tr>
  <td>duree</td>
  <td><input type ='text' name = "duree" [(ngModel)]=filme.duree></td>
</tr>
<tr>
  <td>categorie</td>
  <td><input type ='text' name = "categorie" [(ngModel)]=filme.categorie></td>
</tr>
<tr>
    <td></td>
    <td><input type="submit" value="ajouter"></td>
  </tr>

</table>
</form>
